<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Verge Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>The Verge</h1>
        <p>Saved Scraping</p>
    </div>
</div>

<div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
</div>
</div>
{{#each content}}
<div class="container-fluid article-container">
    <div data-_id={{this._id}} class="card">
        <div class="card-header">
            <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a>
                <a class="btn btn-danger delete">Delete From Saved</a>
                <button type="button" class="btn btn-primary notes_view" data-toggle="modal" data-target="{{this._id}}">
                    Article Notes
                </button>
            </h3>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal_{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <div class="container-fluid text-center">
                        <h4>Notes For: {{this.title}}</h4>
                        <hr>
                        <ul class="list-group note-container">
                            <li class="list-group-item note">werasdf<button class="btn btn-danger note-delete">x</button></li>
                            <li class="list-group-item note">test<button class="btn btn-danger note-delete">x</button></li>
                            <li class="list-group-item note">{{this.note.body}}<button class="btn btn-danger note-delete">x</button></li>
                        </ul>
                        <textarea id="new_note" placeholder="New Note" rows="4" cols="60"></textarea>
                        <button class="btn btn-success save_note" data-target="{{this._id}}">Save Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}